
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1);

    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: whitesmoke;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    font-family: eskapade-fraktur,serif;
    font-weight: 400;
    font-style: normal;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .25fr 2fr .25fr .5fr;
    width: 1000px;
    max-width: 80%;
    justify-items: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h3 {
    font-size: 38px;
}

p {
    font-size: 20px;
    border: 36px solid orange;
    border-image-slice:383 0 474 67;border-image-width: 30px 30px 30px 30px;border-image-outset:13px 13px 13px 13px;border-image-repeat:repeat repeat;border-image-source:url("https://i.imgur.com/4hEKZJ3.png");
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.username {
    grid-row-start: 4;
    border: 36px solid orange;
    border-image-slice:1370 0 1370 0;border-image-width:20px 20px 20px 20px;border-image-outset:0px 0px 0px 0px;border-image-repeat:round stretch;border-image-source:url("https://bit.ly/2WTgTk6");
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -100px;
}

input {
    height: 40px;
}

.choose {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    justify-items: center;
}

label {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hide-input {
    display: none;
}

.hide-input:checked + img {
    border: solid yellow;
    opacity: 0.5;
}

.image-input {
    transition: 0.5s;
    cursor: pointer;
}


header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-image: url(../assets/home.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    -webkit-text-stroke: 1px black;
    font-family: mythos-std, sans-serif; color: #b20000;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 2px;
}

h1 {
    font-size: 62px;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 48px;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

  .hidden {
    display: none;
}

button {
    height: 65px;
    width: 150px;
    font-family: eskapade-fraktur,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    cursor: pointer;
    transition: .25s;
}

button:hover {
    height: 80px;
    width: 180px;
    font-size: 32px;
    background-color: black;
    color: whitesmoke;
}